## [API](https://spark.apache.org/docs/latest/api/python/pyspark.sql.html)

## SparkSession

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName('Apache Spark test') \
    .config("spark.sql.shuffle.partitions", "500") \
    .getOrCreate()

In [2]:
spark

## Data 
[download data](https://github.com/databricks/Spark-The-Definitive-Guide)

In [46]:
from pyspark.sql.functions import *
from pyspark.sql.window import *

df = spark.read.format('csv') \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load("/Users/sg0218817/Downloads/Spark-The-Definitive-Guide-master/data/retail-data/all/*.csv") \
    .coalesce(4) \
    .withColumn("date", to_date(col('InvoiceDate'), 'MM/d/yyyy H:mm')) \
    .cache()

In [4]:
df.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: string (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- Country: string (nullable = true)

In [45]:
df.show(2, False)

+---------+---------+----------------------------------+--------+--------------+---------+----------+--------------+----------+
|InvoiceNo|StockCode|Description                       |Quantity|InvoiceDate   |UnitPrice|CustomerID|Country       |date      |
+---------+---------+----------------------------------+--------+--------------+---------+----------+--------------+----------+
|536365   |85123A   |WHITE HANGING HEART T-LIGHT HOLDER|6       |12/1/2010 8:26|2.55     |17850     |United Kingdom|2010-12-01|
|536365   |71053    |WHITE METAL LANTERN               |6       |12/1/2010 8:26|3.39     |17850     |United Kingdom|2010-12-01|
+---------+---------+----------------------------------+--------+--------------+---------+----------+--------------+----------+
only showing top 2 rows

## basic aggregations

Spark SQL provides built-in methods for the most common aggregations such as count(), countDistinct(), avg(), max(), min(), etc. in the pyspark.sql.functions module. These methods are not the same as the built-in methods in the Python Standard Library, where we can find min() for example as well, hence you need to be careful not to use them interchangeably.

In many cases, there are multiple ways to express the same aggregations. For example, if we would like to compute one type of aggregate for one or more columns of the DataFrame we can just simply chain the aggregate method after a groupBy(). If we would like to use different functions on different columns, agg()comes in handy. For example agg({"salary": "avg", "age": "max"}) computes the average salary and maximum age.

In [14]:
df.select(count('InvoiceNo')) \
    .show()

+----------------+
|count(InvoiceNo)|
+----------------+
|          541909|
+----------------+

In [15]:
df.count()

541909

In [16]:
df.select(countDistinct('InvoiceNo')) \
    .show()

+-------------------------+
|count(DISTINCT InvoiceNo)|
+-------------------------+
|                    25900|
+-------------------------+

In [18]:
df.select(approx_count_distinct('InvoiceNo')) \
    .show()

+--------------------------------+
|approx_count_distinct(InvoiceNo)|
+--------------------------------+
|                           26470|
+--------------------------------+

In [19]:
df.select(first('StockCode'), last('StockCode')) \
    .show()

+-----------------------+----------------------+
|first(StockCode, false)|last(StockCode, false)|
+-----------------------+----------------------+
|                 85123A|                 22138|
+-----------------------+----------------------+

In [20]:
df.select(min('Quantity'), max('Quantity')) \
    .show()

+-------------+-------------+
|min(Quantity)|max(Quantity)|
+-------------+-------------+
|       -80995|        80995|
+-------------+-------------+

In [27]:
df.select(sum('Quantity'), 
          sumDistinct('Quantity'), 
          avg('Quantity'), 
          var_pop('Quantity'), 
          var_samp('Quantity'),
          stddev_pop('Quantity'), 
          stddev_samp('Quantity')) \
    .show()

+-------------+----------------------+----------------+------------------+------------------+--------------------+---------------------+
|sum(Quantity)|sum(DISTINCT Quantity)|   avg(Quantity)| var_pop(Quantity)|var_samp(Quantity)|stddev_pop(Quantity)|stddev_samp(Quantity)|
+-------------+----------------------+----------------+------------------+------------------+--------------------+---------------------+
|      5176450|                 29310|9.55224954743324|47559.303646608976| 47559.39140929867|   218.0809566344778|   218.08115785023398|
+-------------+----------------------+----------------+------------------+------------------+--------------------+---------------------+

## collect to complex types

In [28]:
df.agg(collect_set('Country'), collect_list('Country')) \
    .show()

+--------------------+---------------------+
|collect_set(Country)|collect_list(Country)|
+--------------------+---------------------+
|[Portugal, Italy,...| [United Kingdom, ...|
+--------------------+---------------------+

## grouping

In [37]:
df.where('InvoiceNo = 536762') \
    .groupBy('InvoiceNo', 'CustomerId') \
    .count() \
    .show(5, False)

+---------+----------+-----+
|InvoiceNo|CustomerId|count|
+---------+----------+-----+
|536762   |16186     |20   |
+---------+----------+-----+

In [43]:
df.where('InvoiceNo = 536762') \
    .groupBy('InvoiceNo', 'CustomerId') \
    .agg(count('Quantity').alias('quantity'), expr('count(Quantity)'), first('Country')) \
    .show(5, False)

+---------+----------+--------+---------------+---------------------+
|InvoiceNo|CustomerId|quantity|count(Quantity)|first(Country, false)|
+---------+----------+--------+---------------+---------------------+
|536762   |16186     |20      |20             |United Kingdom       |
+---------+----------+--------+---------------+---------------------+

## window functions

Window functions are a way of combining the values of ranges of rows in a DataFrame. When defining the window we can choose how to sort and group (with the partitionBy method) the rows and how wide of a window we'd like to use (described by rangeBetween or rowsBetween).

In [98]:
window_specification = Window.partitionBy('CustomerId', 'date') \
    .orderBy(desc('Quantity')) \
    .rowsBetween(Window.unboundedPreceding, Window.currentRow)

In [99]:
max_purchase_quantity = max(col('Quantity')).over(window_specification)
purchase_dense_rank = dense_rank().over(window_specification)
purchase_rank = rank().over(window_specification)

In [101]:
df.select(
        col('InvoiceDate'), col('InvoiceNo'), col('Description'), col('Quantity'), 
        purchase_rank.alias('quantityRank'),
        purchase_dense_rank.alias('quantityDenseRank'),
        max_purchase_quantity.alias('maxQuantity')) \
    .where('CustomerId = 12347') \
    .show(100)

+---------------+---------+--------------------+--------+------------+-----------------+-----------+
|    InvoiceDate|InvoiceNo|         Description|Quantity|quantityRank|quantityDenseRank|maxQuantity|
+---------------+---------+--------------------+--------+------------+-----------------+-----------+
| 4/7/2011 10:43|   549222|ICE CREAM SUNDAE ...|     240|           1|                1|        240|
| 4/7/2011 10:43|   549222|MINI PAINT SET VI...|      36|           2|                2|        240|
| 4/7/2011 10:43|   549222|PACK OF 60 DINOSA...|      24|           3|                3|        240|
| 4/7/2011 10:43|   549222|SMALL FOLDING SCI...|      24|           3|                3|        240|
| 4/7/2011 10:43|   549222|VINTAGE HEADS AND...|      12|           5|                4|        240|
| 4/7/2011 10:43|   549222|RED DRAWER KNOB A...|      12|           5|                4|        240|
| 4/7/2011 10:43|   549222|LARGE HEART MEASU...|      12|           5|                4|        240|
| 4/7/2011 10:43|   549222|SMALL HEART MEASU...|      12|           5|                4|        240|
| 4/7/2011 10:43|   549222|RED TOADSTOOL LED...|      12|           5|                4|        240|
| 4/7/2011 10:43|   549222|3D SHEET OF DOG S...|      12|           5|                4|        240|
| 4/7/2011 10:43|   549222|3D SHEET OF CAT S...|      12|           5|                4|        240|
| 4/7/2011 10:43|   549222|GIFT BAG PSYCHEDE...|      12|           5|                4|        240|
| 4/7/2011 10:43|   549222|    HOLIDAY FUN LUDO|       8|          13|                5|        240|
| 4/7/2011 10:43|   549222|TREASURE ISLAND B...|       8|          13|                5|        240|
| 4/7/2011 10:43|   549222|RED RETROSPOT PURSE |       6|          15|                6|        240|
| 4/7/2011 10:43|   549222|WATERING CAN PINK...|       6|          15|                6|        240|
| 4/7/2011 10:43|   549222|RED RETROSPOT OVE...|       6|          15|                6|        240|
| 4/7/2011 10:43|   549222|ROSES REGENCY TEA...|       6|          15|                6|        240|
| 4/7/2011 10:43|   549222|AIRLINE BAG VINTA...|       4|          19|                7|        240|
| 4/7/2011 10:43|   549222|AIRLINE BAG VINTA...|       4|          19|                7|        240|
| 4/7/2011 10:43|   549222|AIRLINE BAG VINTA...|       4|          19|                7|        240|
| 4/7/2011 10:43|   549222|AIRLINE BAG VINTA...|       4|          19|                7|        240|
| 4/7/2011 10:43|   549222|SET OF 2 TINS VIN...|       4|          19|                7|        240|
| 4/7/2011 10:43|   549222|REGENCY CAKESTAND...|       3|          24|                8|        240|
|12/7/2010 14:57|   537626|MINI PAINT SET VI...|      36|           1|                1|         36|
|12/7/2010 14:57|   537626|BLACK GRAND BAROQ...|      30|           2|                2|         36|
|12/7/2010 14:57|   537626|3D DOG PICTURE PL...|      24|           3|                3|         36|
|12/7/2010 14:57|   537626|BLACK CANDELABRA ...|      12|           4|                4|         36|
|12/7/2010 14:57|   537626|COLOUR GLASS. STA...|      12|           4|                4|         36|
|12/7/2010 14:57|   537626|CLEAR DRAWER KNOB...|      12|           4|                4|         36|
|12/7/2010 14:57|   537626|PINK DRAWER KNOB ...|      12|           4|                4|         36|
|12/7/2010 14:57|   537626|GREEN DRAWER KNOB...|      12|           4|                4|         36|
|12/7/2010 14:57|   537626|RED DRAWER KNOB A...|      12|           4|                4|         36|
|12/7/2010 14:57|   537626|PURPLE DRAWERKNOB...|      12|           4|                4|         36|
|12/7/2010 14:57|   537626|BLUE DRAWER KNOB ...|      12|           4|                4|         36|
|12/7/2010 14:57|   537626|BATHROOM METAL SIGN |      12|           4|                4|         36|
|12/7/2010 14:57|   537626|LARGE HEART MEASU...|      12|           4|                4|         36|
|12/7/2010 14:57|   537626|EMERGENCY FIRST A...|      12|           4|                4|         36|
|12/7/2010 14:57|   537626|RED TOADSTOOL LED...|      12|           4|                4|         36|
|12/7/2010 14:57|   537626|BLACK EAR MUFF HE...|      12|           4|                4|         36|
|12/7/2010 14:57|   537626|FOUR HOOK  WHITE ...|       6|          17|                5|         36|
|12/7/2010 14:57|   537626|BOX OF 6 ASSORTED...|       6|          17|                5|         36|
|12/7/2010 14:57|   537626|BLUE 3 PIECE POLK...|       6|          17|                5|         36|
|12/7/2010 14:57|   537626|RED 3 PIECE RETRO...|       6|          17|                5|         36|
|12/7/2010 14:57|   537626|PINK 3 PIECE POLK...|       6|          17|                5|         36|
|12/7/2010 14:57|   537626|BOOM BOX SPEAKER ...|       6|          17|                5|         36|
|12/7/2010 14:57|   537626|CAMOUFLAGE EAR MU...|       6|          17|                5|         36|
|12/7/2010 14:57|   537626|AIRLINE BAG VINTA...|       4|          24|                6|         36|
|12/7/2010 14:57|   537626|ALARM CLOCK BAKEL...|       4|          24|                6|         36|
|12/7/2010 14:57|   537626|ALARM CLOCK BAKEL...|       4|          24|                6|         36|
|12/7/2010 14:57|   537626|ALARM CLOCK BAKEL...|       4|          24|                6|         36|
|12/7/2010 14:57|   537626|ALARM CLOCK BAKEL...|       4|          24|                6|         36|
|12/7/2010 14:57|   537626|ALARM CLOCK BAKEL...|       4|          24|                6|         36|
|12/7/2010 14:57|   537626|SET OF 2 TINS VIN...|       4|          24|                6|         36|
|12/7/2010 14:57|   537626|SET/3 DECOUPAGE S...|       3|          31|                7|         36|
|12/7/2011 15:52|   581180|BOOM BOX SPEAKER ...|      24|           1|                1|         24|
|12/7/2011 15:52|   581180|PINK NEW BAROQUEC...|      24|           1|                1|         24|
|12/7/2011 15:52|   581180|RED TOADSTOOL LED...|      24|           1|                1|         24|
|12/7/2011 15:52|   581180|  RABBIT NIGHT LIGHT|      24|           1|                1|         24|
|12/7/2011 15:52|   581180|MINI PLAYING CARD...|      20|           5|                2|         24|
|12/7/2011 15:52|   581180|MINI PLAYING CARD...|      20|           5|                2|         24|
|12/7/2011 15:52|   581180|CHRISTMAS TABLE S...|      16|           7|                3|         24|
|12/7/2011 15:52|   581180|CLASSIC CHROME BI...|      12|           8|                4|         24|
|12/7/2011 15:52|   581180|PINK GOOSE FEATHE...|      12|           8|                4|         24|
|12/7/2011 15:52|   581180|WOODLAND CHARLOTT...|      10|          10|                5|         24|
|12/7/2011 15:52|   581180|BICYCLE PUNCTURE ...|       6|          11|                6|         24|
|1/26/2011 14:30|   542237|PINK NEW BAROQUEC...|      24|           1|                1|         24|
|1/26/2011 14:30|   542237|BLUE NEW BAROQUE ...|      24|           1|                1|         24|
|1/26/2011 14:30|   542237|72 SWEETHEART FAI...|      24|           1|                1|         24|
|1/26/2011 14:30|   542237|60 TEATIME FAIRY ...|      24|           1|                1|         24|
|1/26/2011 14:30|   542237|PACK OF 60 MUSHRO...|      24|           1|                1|         24|
|1/26/2011 14:30|   542237|PACK OF 60 SPACEB...|      24|           1|                1|         24|
|1/26/2011 14:30|   542237|SMALL HEART MEASU...|      12|           7|                2|         24|
|1/26/2011 14:30|   542237|MINI LADLE LOVE H...|      12|           7|                2|         24|
|1/26/2011 14:30|   542237|CHOCOLATE CALCULATOR|      12|           7|                2|         24|
|1/26/2011 14:30|   542237| TOOTHPASTE TUBE PEN|      12|           7|                2|         24|
|1/26/2011 14:30|   542237|RED TOADSTOOL LED...|      12|           7|                2|         24|
|1/26/2011 14:30|   542237|3D DOG PICTURE PL...|      12|           7|                2|         24|
|1/26/2011 14:30|   542237|WOODLAND CHARLOTT...|      10|          13|                3|         24|
|1/26/2011 14:30|   542237|SANDWICH BATH SPONGE|      10|          13|                3|         24|
|1/26/2011 14:30|   542237| TEA TIME OVEN GLOVE|      10|          13|                3|         24|
|1/26/2011 14:30|   542237|RED RETROSPOT OVE...|      10|          13|                3|         24|
|1/26/2011 14:30|   542237|BLACK CANDELABRA ...|       6|          17|                4|         24|
|1/26/2011 14:30|   542237|RED RETROSPOT OVE...|       6|          17|                4|         24|
|1/26/2011 14:30|   542237|SET/2 RED RETROSP...|       6|          17|                4|         24|
|1/26/2011 14:30|   542237|BOX OF 6 ASSORTED...|       6|          17|                4|         24|
|1/26/2011 14:30|   542237|AIRLINE BAG VINTA...|       4|          21|                5|         24|
|1/26/2011 14:30|   542237|AIRLINE BAG VINTA...|       4|          21|                5|         24|
|1/26/2011 14:30|   542237|ALARM CLOCK BAKEL...|       4|          21|                5|         24|
|1/26/2011 14:30|   542237|ALARM CLOCK BAKEL...|       4|          21|                5|         24|
|1/26/2011 14:30|   542237|ALARM CLOCK BAKEL...|       4|          21|                5|         24|
|1/26/2011 14:30|   542237|ALARM CLOCK BAKEL...|       4|          21|                5|         24|
|1/26/2011 14:30|   542237|ALARM CLOCK BAKEL...|       4|          21|                5|         24|
|1/26/2011 14:30|   542237|SET OF 2 TINS VIN...|       4|          21|                5|         24|
|1/26/2011 14:30|   542237|REGENCY CAKESTAND...|       3|          29|                6|         24|
| 6/9/2011 13:01|   556201|NAMASTE SWAGAT IN...|      36|           1|                1|         36|
| 6/9/2011 13:01|   556201|SMALL HEART MEASU...|      24|           2|                2|         36|
| 6/9/2011 13:01|   556201|3D DOG PICTURE PL...|      18|           3|                3|         36|
| 6/9/2011 13:01|   556201|  RABBIT NIGHT LIGHT|      12|           4|                4|         36|
| 6/9/2011 13:01|   556201|REGENCY TEA PLATE...|      12|           4|                4|         36|
+---------------+---------+--------------------+--------+------------+-----------------+-----------+
only showing top 100 rows

## rollups

In [116]:
df.rollup('date', 'Country') \
    .agg(sum('Quantity').alias('sum')) \
    .orderBy(desc('sum')) \
    .where('date >= "2010-12-01" and date <= "2010-12-02" or date is null') \
    .show()

+----------+--------------+-------+
|      date|       Country|    sum|
+----------+--------------+-------+
|      null|          null|5176450|
|2010-12-01|          null|  26814|
|2010-12-01|United Kingdom|  23949|
|2010-12-02|          null|  21023|
|2010-12-02|United Kingdom|  20873|
|2010-12-01|        Norway|   1852|
|2010-12-01|        France|    449|
|2010-12-01|          EIRE|    243|
|2010-12-02|       Germany|    146|
|2010-12-01|       Germany|    117|
|2010-12-01|     Australia|    107|
|2010-12-01|   Netherlands|     97|
|2010-12-02|          EIRE|      4|
+----------+--------------+-------+

## cubes

In [119]:
df.cube('date', 'Country') \
    .agg(sum('Quantity').alias('sum')) \
    .orderBy(desc('sum')) \
    .where('date >= "2010-12-01" and date <= "2010-12-02" or date is null') \
    .show(20)

+----------+---------------+-------+
|      date|        Country|    sum|
+----------+---------------+-------+
|      null|           null|5176450|
|      null| United Kingdom|4263829|
|      null|    Netherlands| 200128|
|      null|           EIRE| 142637|
|      null|        Germany| 117448|
|      null|         France| 110480|
|      null|      Australia|  83653|
|      null|         Sweden|  35637|
|      null|    Switzerland|  30325|
|      null|          Spain|  26824|
|2010-12-01|           null|  26814|
|      null|          Japan|  25218|
|2010-12-01| United Kingdom|  23949|
|      null|        Belgium|  23152|
|2010-12-02|           null|  21023|
|2010-12-02| United Kingdom|  20873|
|      null|         Norway|  19247|
|      null|       Portugal|  16180|
|      null|        Finland|  10666|
|      null|Channel Islands|   9479|
+----------+---------------+-------+
only showing top 20 rows

## pivots

In [127]:
df.groupBy('date') \
    .pivot('Country') \
    .sum() \
    .where('date > "2011-12-05"') \
    .select('date', '`USA_sum(CAST(Quantity AS BIGINT))`', '`France_sum(CAST(Quantity AS BIGINT))`') \
    .show()

+----------+---------------------------------+------------------------------------+
|      date|USA_sum(CAST(Quantity AS BIGINT))|France_sum(CAST(Quantity AS BIGINT))|
+----------+---------------------------------+------------------------------------+
|2011-12-09|                             null|                                 105|
|2011-12-06|                             null|                                 787|
|2011-12-08|                             -196|                                  18|
|2011-12-07|                             null|                                 561|
+----------+---------------------------------+------------------------------------+

In [138]:
df.where('date between "2011-12-06" and "2011-12-09"') \
    .where('Country = "France" or Country = "USA"') \
    .groupBy('date', 'Country') \
    .sum() \
    .select('date', 'Country', 'sum(Quantity)') \
    .show()

+----------+-------+-------------+
|      date|Country|sum(Quantity)|
+----------+-------+-------------+
|2011-12-07| France|          561|
|2011-12-08|    USA|         -196|
|2011-12-09| France|          105|
|2011-12-06| France|          787|
|2011-12-08| France|           18|
+----------+-------+-------------+